{:source-paths ["src"]

 :dependencies
 [[clj-kondo "2022.06.22"]
  
  [reagent "1.1.1"]
  [re-frame "1.3.0"]
  [metosin/reitit "0.5.18"]]

 :dev-http {8280 "public"}

 :builds
 {:app
  {:target :esm
   :output-dir "public/js"
   :asset-path "/js"
   :modules
   {:app {:init-fn hoge.core/mount}}}
  :compiled
  {:target :esm
   :output-dir "public/js"
   :asset-path "/js"
   :modules
   {:compiled {:exports {setup hoge.core/setup
                         view hoge.core/view
                         navigate hoge.routes/navigate}}}}}}
