{:source-paths ["src" "dev"]

 :dependencies
 [[clj-kondo "2025.01.16"]

  [reagent "1.2.0"]
  [re-frame "1.4.3"]
  [metosin/reitit "0.7.2"]]

 :dev-http {8280 "public"}

 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules
   {:app {:init-fn hoge.core/hydrate}}}
  :compiled
  {:target :esm
   :output-dir "public/js"
   :asset-path "/js"
   :modules
   {:compiled {:exports {setup hoge.core/setup
                         view hoge.core/view
                         navigate hoge.routes/navigate
                         registerOnLoad hoge.core/register-on-load}}}}}}
